<div class="container">
  <div class="row">
    <div class="col-4">
      <a style="cursor: pointer;" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
    </div>
    <div class="col-4">
      <a style="cursor: pointer;" [routerLink]="['user', 1]" routerLinkActive="router-link-active">User 1</a>
    </div>
    <div class="col-4">
      <a style="cursor: pointer;" [routerLink]="['user', 2]" routerLinkActive="router-link-active">User 2</a>
    </div>
  </div>

</div>

<div>
  <p *ngIf="isActivated">Activated</p>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
